@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply w-full h-full p-0 m-0 bg-neutral-100;
}

* {
  @apply box-border;
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  @font-face {
    font-family: 'Proxima Nova';
    src: url('./fonts/Proxima Nova Font.otf') format('opentype');
    font-display: block;
  }

  @font-face {
    font-family: 'Goldenbook';
    src: url('./fonts/Goldenbook Regular.otf') format('opentype'),
      url('./fonts/Goldenbook Bold.otf') format('opentype'),
      url('./fonts/Goldenbook Light.otf') format('opentype');
  }
}

@layer utilities {
  .no-scroll {
    @apply overflow-hidden;
  }
}
